<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>YouTube API</title>
</head>

<body>

    <h1 class="text-center">Youtube API</h1>
    <div class="alert alert-success text-center" role="alert">Fetch Videos from YouTube
    </div>
    <div class="container" style="margin-left:-0.5%">
        <div class="row" style="margin-bottom:5%">
            <!-- Form 1 -->
            {% for i in content %}
            <div class="col-md-6  mb-2" style="text-align: right">
                <div style="display:inline-block;">
                    <a href="https://www.youtube.com/watch?v={{i.video_id}}" target="_blank">
                        <img src=" {{ i.thumbnail_url }}" height="200" width="325">
                    </a>
                    <br>
                </div>
            </div>

            <div class="col-md-6">
                <div style="display:inline-block;">
                    <a href="https://www.youtube.com/watch?v={{i.video_id}}" target="_blank">
                        <h4>{{ i.video_title }}</h4>
                    </a>
                    <p>{{i.description}}</p>
                    <p>Uploaded Date: {{i.published_date}}</p>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
    <div class=" container">
        <div class="row">
            <div class="col-md-12" style="text-align: center">
                <div style="display:inline-block;" class="pagination">
                    <span class="step-links">
                        {% if content.has_previous %}
                        <a class="btn btn-outline-info mb-4" href="?page=1">&laquo; first</a>
                        <a class="btn btn-outline-info mb-4"
                            href="?page={{ contacts.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="step-links btn btn-success">
                            Page {{ content.number }} of {{ content.paginator.num_pages }}
                        </span>

                        {% if content.has_next %}
                        <a class="btn btn-outline-info mb-4" href="?page={{ content.next_page_number }}">next</a>
                        <a class="btn btn-outline-info mb-4" href="?page={{ content.paginator.num_pages }}">last
                            &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>